<h1>Créé un compte</h1>
<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'email ' %><br />
  <%= text_field_tag 'email' %>
  <br /> <br />

  <%= label_tag 'Mot de passe ' %><br />
  <%= password_field_tag 'password'%>
  <br /> <br />

  <%= submit_tag "Se connecter" %>

  <% end %>
