<!DOCTYPE html>
<html>
  <head>
    <title>Accueil</title>
  </head>
  <body>
    <div class="card-columns w-100 p-3">
      <% @users.each do |user| %>
        <div class="card">
          <div class="card-header">
            <%= user.first_name%> <%= user.last_name%>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= user.description%></p>
              <footer class="blockquote-footer bg-transparent"><%= user.created_at%> <%= link_to "see more about", user_path(user.id)%></footer>
            </blockquote>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
