<h1>Remplit le questionnaire pour t'inscrire</h1>
<%= form_tag url_for(action: 'create'), method: "post" do %>

<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Prénom :' %>
      <%= text_field_tag 'first_name' %>
      <br /> <br />

      <%= label_tag 'Nom :' %>
      <%= text_field_tag 'last_name'%>
      <br /> <br />

      <%= label_tag 'Mail :' %>
      <%= text_field_tag 'email'%>
      <br /> <br />

      <%= label_tag 'Âge :' %>
      <%= number_field_tag 'age'%>
      <br /> <br />

      <%= label_tag 'Bio :' %>
      <%= text_area_tag 'description'%>
      <br /> <br />

      <%= label_tag 'Mot de passe : ' %><br />
      <%= password_field_tag 'password'%>
      <br /> <br />

      <%= submit_tag "Créer mon compte" %>

    <% end %>

<% if @user.errors.any? %>
  <p>Nous n'avons pas réussi à créer un utilisateur pour la (ou les) raison(s) suivante(s) :</p>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
  <% end %>
  </ul>
<% end %>