<!DOCTYPE html>
<html>
  <head>
    <title>Test cetet</title>
  </head>
  <body>
    <div class="d-flex justify-content-center">
      <div class="card col-sm-4 m-4">
        <%= @gossip.title%><br>
        <%= @gossip.content%><br>
        <%= @gossip.created_at%> by <%= link_to "voir le créateur", user_path(@gossip.user_id)%><br>
        <%= link_to "Modifier un gossip", edit_gossip_path, class: "btn btn-primary" %><%= link_to "Delete", list_path(@list), :method => :delete, :confirm => "Are you sure?" %>

      </div>
    </div>
  </body>
</html>
